env/*
aula-6/*
!aula-6/raw/
!aula-6/*.ipynb
aula-7/*
!aula-7/raw/
!aula-7/*.ipynb
aula-8/*
!aula-8/raw/
!aula-8/*.ipynb
aula-10/*
!aula-10/raw/
!aula-10/*.ipynb
aula-9/*
!aula-9/raw/
!aula-9/*.ipynb
Atividade_Complementar/*
!Atividade_Complementar/*.ipynb
