
#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory. 
# Also, a non-absolute path will be relative to config's file dir
# 
#---
data.dir = ./data/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---

# Old SourceForge databases
# database.repository = http://downloads.sourceforge.net/project/snpeff/databases

# Secondary Azure blob storage using SAS-Token (Shared Access Signature)
#database.repository = "https://datasetsnpeff.blob.core.windows.net/dataset"
#database.repositoryKey = "?sv=2019-10-10&st=2020-09-01T00%3A00%3A00Z&se=2050-09-01T00%3A00%3A00Z&si=prod&sr=c&sig=isafOa9tGnYBAvsXFUMDGMTbsG2z%2FShaihzp7JE5dHw%3D"

# Primary Azure blob storage
database.repository = https://snpeff.blob.core.windows.net/databases/

#---
# Latest version numbers. Check here if there is an update.
#---
#versions.url = https://pcingola.github.io/SnpEff/versions.txt
versions.url = https://snpeff.blob.core.windows.net/databases/versions.txt

#-------------------------------------------------------------------------------
# Third party databases
#-------------------------------------------------------------------------------

# Databases for human GRCh38 (hg38)

database.clinvar.GRCh38                 = ./db/GRCh38/clinvar/clinvar-latest.vcf.gz
database.repository.clinvar             = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh38/clinvar-latest.vcf.gz

database.dbsnp.GRCh38                   = ./db/GRCh38/dbSnp/dbSnp.vcf.gz
database.repository.dbsnp.GRCH38        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606/VCF/00-All.vcf.gz

database.dbnsfp.GRCH38                  = ./db/GRCh38/dbNSFP/dbNSFP.txt.gz

# Databases for human GRCh37 (hg19)
database.clinvar.GRCh37                 = ./db/GRCh37/clinvar/clinvar-latest.vcf.gz
database.repository.clinvar.GRCh37      = ftp://ftp.ncbi.nlm.nih.gov/pub/clinvar/vcf_GRCh37/clinvar-latest.vcf.gz

database.dbsnp.GRCh37                   = ./db/GRCh37/dbSnp/dbSnp.vcf.gz
database.repository.dbsnp.GRCh37        = ftp://ftp.ncbi.nih.gov/snp/organisms/human_9606_b141_GRCh37p13/VCF/

database.gwascatalog.GRCh37             = ./db/GRCh37/gwasCatalog/gwascatalog.txt
database.repository.gwascatalog.GRCh37  = http://www.genome.gov/admin/gwascatalog.txt

database.dbnsfp.GRCh37                  = ./db/GRCh37/dbNSFP/dbNSFP.txt.gz

#-------------------------------------------------------------------------------
# Loss of function (LOF) 
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the 
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

#  It is assumed that even with a protein coding change at the 
#  first 5% of the protein: 
#  		"..suggesting some disrupted transcripts are 
#  		rescued by transcriptional reinitiation at an 
#  		alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than 
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list 
# 			Where 'codon' is in uppper case, aminoAcid is a one letter 
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard								: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Vertebrate_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/* , AGG/* , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Yeast_Mitochondrial					: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/T , CTC/T , CTA/T , CTG/T , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mold_Mitochondrial					: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Protozoan_Mitochondrial				: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Coelenterate							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mitochondrial							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Mycoplasma							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Spiroplasma							: TTT/F , TTC/F , TTA/L+, TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Invertebrate_Mitochondrial			: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Ciliate_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Dasycladacean_Nuclear					: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Hexamita_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Q , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Echinoderm_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Flatworm_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Euplotid_Nuclear						: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/C , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Bacterial_and_Plant_Plastid			: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I+, ATA/I+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Alternative_Yeast_Nuclear				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/S+, CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Ascidian_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L+, TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M+, ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/G , AGG/G , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Alternative_Flatworm_Mitochondrial	: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/Y , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Blepharisma_Macronuclear				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/Q , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Chlorophycean_Mitochondrial			: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/L , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Trematode_Mitochondrial				: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/W , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/M , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/N , AAG/K , AGT/S , AGC/S , AGA/S , AGG/S , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Scenedesmus_obliquus_Mitochondrial	: TTT/F , TTC/F , TTA/L , TTG/L , TCT/S , TCC/S , TCA/* , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/L , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I , ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V , GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G
codon.Thraustochytrium_Mitochondrial		: TTT/F , TTC/F , TTA/* , TTG/L , TCT/S , TCC/S , TCA/S , TCG/S , TAT/Y , TAC/Y , TAA/* , TAG/* , TGT/C , TGC/C , TGA/* , TGG/W , CTT/L , CTC/L , CTA/L , CTG/L , CCT/P , CCC/P , CCA/P , CCG/P , CAT/H , CAC/H , CAA/Q , CAG/Q , CGT/R , CGC/R , CGA/R , CGG/R , ATT/I+, ATC/I , ATA/I , ATG/M+, ACT/T , ACC/T , ACA/T , ACG/T , AAT/N , AAC/N , AAA/K , AAG/K , AGT/S , AGC/S , AGA/R , AGG/R , GTT/V , GTC/V , GTA/V , GTG/V+, GCT/A , GCC/A , GCA/A , GCG/A , GAT/D , GAC/D , GAA/E , GAG/E , GGT/G , GGC/G , GGA/G , GGG/G

#-------------------------------------------------------------------------------
# Databases & Genomes
#
# One entry per genome version. 
#
# For genome version 'ZZZ' the entries look like
#	ZZZ.genome              : Real name for ZZZ (e.g. 'Human')
#	ZZZ.reference           : [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#	ZZZ.chrName.codonTable  : [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

#---
# Non-standard Databases
#---

# Homo sapiens (hg19) (UCSC)
hg19.genome : Homo_sapiens (UCSC)
	hg19.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.protein.faa.gz \	# Protein
					, ftp://ftp.ncbi.nlm.nih.gov/refseq/H_sapiens/mRNA_Prot/human.rna.fna.gz \		# CDS
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/database/refLink.txt.gz		# Reflink
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/refMrna.fa.gz			# mRna
	hg19.M.codonTable : Vertebrate_Mitochondrial
	hg19.MT.codonTable : Vertebrate_Mitochondrial
	hg19.coordinates : GRCh37

# Homo sapiens (hg19) (UCSC) using knownGenes instead of RefSeq
hg19kg.genome : Homo_sapiens (UCSC KnownGenes)
	hg19kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg19/bigZips/chromFa.tar.gz \		# Genome sequence
	hg19kg.M.codonTable : Vertebrate_Mitochondrial
	hg19kg.MT.codonTable : Vertebrate_Mitochondrial
	hg19kg.coordinates : GRCh37

# Homo sapiens (hg38) (UCSC)
hg38.genome : Homo_sapiens (UCSC)
	hg38.reference : http://hgdownload.cse.ucsc.edu \												# Gene information from 'table' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38.M.codonTable : Vertebrate_Mitochondrial
	hg38.MT.codonTable : Vertebrate_Mitochondrial
	hg38.coordinates : GRCh38

# Homo sapiens (hg38) (UCSC) using knownGenes instead of RefSeq
hg38kg.genome : Homo_sapiens (UCSC KnownGenes)
hg38kg.reference :	http://hgdownload.cse.ucsc.edu \												# Gene information from 'table/GTF' download
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/chromFa.tar.gz \		# Genome sequence
					, http://hgdownload.cse.ucsc.edu/goldenPath/hg38/bigZips/refMrna.fa.gz			# mRna
	hg38kg.M.codonTable : Vertebrate_Mitochondrial
	hg38kg.MT.codonTable : Vertebrate_Mitochondrial
	hg38kg.coordinates : GRCh38

# GRCh37.75 release from ENSEMBL
GRCh37.75.genome : Human genome GRCh37 using transcripts
GRCh37.75.reference : http://useast.ensembl.org/info/data/ftp/index.html
	GRCh37.75.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.75.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37.87 release from ENSEMBL
GRCh37.87.genome : Human genome GRCh37 using transcripts
GRCh37.87.reference : http://useast.ensembl.org/info/data/ftp/index.html
	GRCh37.87.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.87.MT.codonTable : Vertebrate_Mitochondrial

# GRCh37 release from NCBI's RefSeq 
GRCh37.p13.genome : Human genome GRCh37 using RefSeq transcripts
GRCh37.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
	GRCh37.p13.M.codonTable : Vertebrate_Mitochondrial
	GRCh37.p13.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release 'p14' from NCBI's RefSeq 
GRCh38.p13.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p13.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p13/
	GRCh38.p13.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p13.MT.codonTable : Vertebrate_Mitochondrial

# GRCh38 release 'p14' from NCBI's RefSeq 
GRCh38.p14.genome : Human genome GRCh38 using RefSeq transcripts
GRCh38.p14.reference : https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.39_GRCh38.p14/
	GRCh38.p14.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.p14.MT.codonTable : Vertebrate_Mitochondrial

# MANE
GRCh38.mane.0.95.ensembl.genome: Human genome GRCh38, using MANE transcripts v0.95, Ensembl IDs
	GRCh38.GRCh38.mane.0.95.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.0.95.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.0.95.refseq.genome: Human genome GRCh38, using MANE transcripts v0.95, RefSeq IDs
	GRCh38.GRCh38.mane.0.95.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.0.95.refseq.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.0.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.0, Ensembl IDs
	GRCh38.GRCh38.mane.1.0.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.0.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.0.refseq.genome: Human genome GRCh38, using MANE transcripts v1.0, RefSeq IDs
	GRCh38.GRCh38.mane.1.0.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.0.refseq.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.2.ensembl.genome: Human genome GRCh38, using MANE transcripts v1.2, Ensembl IDs
	GRCh38.GRCh38.mane.1.2.ensembl.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.2.ensembl.MT.codonTable : Vertebrate_Mitochondrial

GRCh38.mane.1.2.refseq.genome: Human genome GRCh38, using MANE transcripts v1.2, RefSeq IDs
	GRCh38.GRCh38.mane.1.2.refseq.M.codonTable : Vertebrate_Mitochondrial
	GRCh38.GRCh38.mane.1.2.refseq.MT.codonTable : Vertebrate_Mitochondrial

# Mouse
mm9.genome : Mouse
mm10.genome : Mouse
mm39.genome : Mouse


#---
# COVID19 
#---
#---
# SARS / COVID19
#---
NC_045512.2.genome : COVID19 Severe acute respiratory syndrome coronavirus 2 isolate Wuhan-Hu-1 
MN908947.3.genome : COVID19 Severe acute respiratory syndrome coronavirus 2 isolate Wuhan-Hu-1 
DQ648856.1.genome : Bat coronavirus (BtCoV/273/2005), complete genome.                          
DQ648857.1.genome : Bat coronavirus (BtCoV/279/2005), complete genome.                          
JX993988.1.genome : Bat coronavirus Cp/Yunnan2011, complete genome.                             
MN996532.1.genome : Bat coronavirus RaTG13, complete genome.                                    
JX993987.1.genome : Bat coronavirus Rp/Shaanxi2011, complete genome.                            
GQ153545.1.genome : Bat SARS coronavirus HKU3-10, complete genome.                              
GQ153546.1.genome : Bat SARS coronavirus HKU3-11, complete genome.                              
GQ153547.1.genome : Bat SARS coronavirus HKU3-12, complete genome.                              
DQ022305.2.genome : Bat SARS coronavirus HKU3-1, complete genome.                               
DQ084199.1.genome : bat SARS coronavirus HKU3-2, complete genome.                               
DQ084200.1.genome : bat SARS coronavirus HKU3-3, complete genome.                               
GQ153539.1.genome : Bat SARS coronavirus HKU3-4, complete genome.                               
GQ153540.1.genome : Bat SARS coronavirus HKU3-5, complete genome.                               
GQ153541.1.genome : Bat SARS coronavirus HKU3-6, complete genome.                               
GQ153542.1.genome : Bat SARS coronavirus HKU3-7, complete genome.                               
GQ153543.1.genome : Bat SARS coronavirus HKU3-8, complete genome.                               
GQ153544.1.genome : Bat SARS coronavirus HKU3-9, complete genome.                               
FJ588686.1.genome : Bat SARS CoV Rs672/2006, complete genome.                                   
KC881006.1.genome : Bat SARS-like coronavirus Rs3367, complete genome.                          
KC881005.1.genome : Bat SARS-like coronavirus RsSHC014, complete genome.                        
KF367457.1.genome : Bat SARS-like coronavirus WIV1, complete genome.                            
KP886808.1.genome : Bat SARS-like coronavirus YNLF_31C, complete genome.                        
KP886809.1.genome : Bat SARS-like coronavirus YNLF_34C, complete genome.                        
KJ473812.1.genome : BtRf-BetaCoV/HeB2013, complete genome.                                      
KJ473811.1.genome : BtRf-BetaCoV/JL2012, complete genome.                                       
KJ473813.1.genome : BtRf-BetaCoV/SX2013, complete genome.                                       
KJ473815.1.genome : BtRs-BetaCoV/GX2013, complete genome.                                       
KJ473814.1.genome : BtRs-BetaCoV/HuB2013, complete genome.                                      
KJ473816.1.genome : BtRs-BetaCoV/YN2013, complete genome.                                       
KF569996.1.genome : Rhinolophus affinis coronavirus isolate LYRa11, complete genome.            
AY687354.1.genome : SARS coronavirus A001 spike glycoprotein gene, complete cds.                
AY687355.1.genome : SARS coronavirus A013 spike glycoprotein gene, complete cds.                
AY687356.1.genome : SARS coronavirus A021 spike glycoprotein gene, complete cds.                
AY686863.1.genome : SARS coronavirus A022, complete genome.                                     
AY687357.1.genome : SARS coronavirus A030 spike glycoprotein gene, complete cds.                
AY687358.1.genome : SARS coronavirus A031 spike glycoprotein gene, complete cds.                
AY427439.1.genome : SARS coronavirus AS, complete genome.                                       
AY687359.1.genome : SARS coronavirus B012 spike glycoprotein gene, complete cds.                
AY687360.1.genome : SARS coronavirus B024 spike glycoprotein gene, complete cds.                
AY687361.1.genome : SARS coronavirus B029 spike glycoprotein gene, complete cds.                
AY687362.1.genome : SARS coronavirus B033 spike glycoprotein gene, complete cds.                
AY686864.1.genome : SARS coronavirus B039, complete genome.                                     
AY687364.1.genome : SARS coronavirus B040 spike glycoprotein gene, complete cds.                
AY278488.2.genome : SARS coronavirus BJ01, complete genome.                                     
AY279354.2.genome : SARS coronavirus BJ04, complete genome.                                     
AY864805.1.genome : SARS coronavirus BJ162, complete genome.                                    
EU371564.1.genome : SARS coronavirus BJ182-12, complete genome.                                 
EU371562.1.genome : SARS coronavirus BJ182-4, complete genome.                                  
EU371563.1.genome : SARS coronavirus BJ182-8, complete genome.                                  
EU371560.1.genome : SARS coronavirus BJ182a, complete genome.                                   
EU371561.1.genome : SARS coronavirus BJ182b, complete genome.                                   
AY864806.1.genome : SARS coronavirus BJ202, complete genome.                                    
AY340092.1.genome : SARS coronavirus BJ2232 RNA polymerase gene, partial cds.                   
AY714217.1.genome : SARS Coronavirus CDC#200301157, complete genome.                            
AY572034.1.genome : SARS coronavirus civet007, complete genome.                                 
AY572035.1.genome : SARS coronavirus civet010, complete genome.                                 
AY572038.1.genome : SARS coronavirus civet020, complete genome.                                 
AY345986.1.genome : SARS coronavirus CUHK-AG01, complete genome.                                
AY345987.1.genome : SARS coronavirus CUHK-AG02, complete genome.                                
AY345988.1.genome : SARS coronavirus CUHK-AG03, complete genome.                                
AY282752.2.genome : SARS coronavirus CUHK-Su10, complete genome.                                
AY278554.2.genome : SARS coronavirus CUHK-W1, complete genome.                                  
AY310120.1.genome : SARS coronavirus FRA, complete genome.                                      
AY278489.2.genome : SARS coronavirus GD01, complete genome.                                     
AY313906.1.genome : SARS coronavirus GD69, complete genome.                                     
DQ640652.1.genome : SARS coronavirus GDH-BJH01, complete genome.                                
AY390556.1.genome : SARS coronavirus GZ02, complete genome.                                     
AY568539.1.genome : SARS coronavirus GZ0401, complete genome.                                   
AY613947.1.genome : SARS coronavirus GZ0402, complete genome.                                   
AY304495.1.genome : SARS coronavirus GZ50, complete genome.                                     
AY394978.1.genome : SARS coronavirus GZ-B, complete genome.                                     
AY394979.1.genome : SARS coronavirus GZ-C, complete genome.                                     
AY515512.1.genome : SARS coronavirus HC/SZ/61/03, complete genome.                              
JQ316196.1.genome : SARS coronavirus HKU-39849 isolate UOB, complete genome.                    
AY323977.2.genome : SARS coronavirus HSR 1, complete genome.                                    
AY595412.1.genome : SARS coronavirus LLJ-2004, complete genome.                                 
AY508724.1.genome : SARS coronavirus NS-1, complete genome.                                     
FJ882963.1.genome : SARS coronavirus P2, complete genome.                                       
AY350750.1.genome : SARS coronavirus PUMC01, complete genome.                                   
AY357075.1.genome : SARS coronavirus PUMC02, complete genome.                                   
AY357076.1.genome : SARS coronavirus PUMC03, complete genome.                                   
AY463059.1.genome : SARS coronavirus ShanghaiQXC1, complete genome.                             
AY463060.1.genome : SARS coronavirus ShanghaiQXC2, complete genome.                             
AY485277.1.genome : SARS coronavirus Sino1-11, complete genome.                                 
AY485278.1.genome : SARS coronavirus Sino3-11, complete genome.                                 
AY304488.1.genome : SARS coronavirus SZ16, complete genome.                                     
AY304486.1.genome : SARS coronavirus SZ3, complete genome.                                      
AY338174.1.genome : SARS coronavirus Taiwan TC1, complete genome.                               
AY338175.1.genome : SARS coronavirus Taiwan TC2, complete genome.                               
AY348314.1.genome : SARS coronavirus Taiwan TC3, complete genome.                               
AY654624.1.genome : SARS coronavirus TJF, complete genome.                                      
AY502923.1.genome : SARS coronavirus TW10, complete genome.                                     
AY502924.1.genome : SARS coronavirus TW11, complete genome.                                     
AY291451.1.genome : SARS coronavirus TW1, complete genome.                                      
AY502925.1.genome : SARS coronavirus TW2, complete genome.                                      
AY502926.1.genome : SARS coronavirus TW3, complete genome.                                      
AY502927.1.genome : SARS coronavirus TW4, complete genome.                                      
AY502928.1.genome : SARS coronavirus TW5, complete genome.                                      
AY502929.1.genome : SARS coronavirus TW6, complete genome.                                      
AY502930.1.genome : SARS coronavirus TW7, complete genome.                                      
AY502931.1.genome : SARS coronavirus TW8, complete genome.                                      
AY502932.1.genome : SARS coronavirus TW9, complete genome.                                      
AP006557.1.genome : SARS coronavirus TWH genomic RNA, complete genome.                          
AP006558.1.genome : SARS coronavirus TWJ genomic RNA, complete genome.                          
AP006559.1.genome : SARS coronavirus TWK genomic RNA, complete genome.                          
AP006560.1.genome : SARS coronavirus TWS genomic RNA, complete genome.                          
AP006561.1.genome : SARS coronavirus TWY genomic RNA, complete genome.                          
AY278741.1.genome : SARS coronavirus Urbani, complete genome.                                   
MK062181.1.genome : SARS coronavirus Urbani isolate icSARS-C3, complete genome.                 
MK062182.1.genome : SARS coronavirus Urbani isolate icSARS-C3-MA, complete genome.              
MK062183.1.genome : SARS coronavirus Urbani isolate icSARS-C7, complete genome.                 
MK062184.1.genome : SARS coronavirus Urbani isolate icSARS-C7-MA, complete genome.              
MK062179.1.genome : SARS coronavirus Urbani isolate icSARS, complete genome.                    
MK062180.1.genome : SARS coronavirus Urbani isolate icSARS-MA, complete genome.                 
AY772062.1.genome : SARS coronavirus WH20, complete genome.                                     
EU371559.1.genome : SARS coronavirus ZJ02, complete genome.                                     
DQ182595.1.genome : SARS coronavirus ZJ0301 from China, complete genome.  

## HIV 
HXB2.1.genome : HIV-1

## CMV
AY446894.genome : AY446894
